[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Tt]exture2D/
Packages/PackageCache/

# IDEs
.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# Other
*.DS_Store
